<%- include("partials/letter_header") %>
        <br />
        <br />
        <p><%= date %></p>
        <br />
        <p class="invoice"><%= name %>,</p>
        <p><%= address1 %></p>
        <p><%= address2 %></p>
        <p><%= address3 %></p>
        <p><%= address4 %></p>
        <br />
        <p>Dear <%= name %>,</p>
        <p>Congratulations! Based on your interview and your performance during the probation period we are pleased to inform you that you have been selected as a <%= type %> <%= designation %> for Digibarons. Your hardwork, dedication, ingenuity and technical prowess stood out in all the projects and tasks that were allotted to you and we are highly impressed with your work ethic and your ability to excel in every task that you took up.</p>
        <p>Now that your probation period is over you will be a <%= type %> employee at our company starting from the date mentioned in this letter. As already discussed, you are fully aware of your job responsibilities and we believe you will abide by the rules laid down by the company. Based on your performance we have decided to pay you a sum of ₹ <%= income %> per month in hand and a CTC of ₹ <%= ctc %> lakhs per year which will include a whole lot of additional benefits such as laptops, company t-shirts, personal badges, etc. The salary amount will increase with time as you gain experience and expertise in your domain. Apart from this, you will also get exposure and mentorship from highly distinguished people from the likes of very prestigious institutions globally such as the Massachusetts Institute of Technology, Carnegie Mellon University and Princeton University and the grandiose institutions of our country such as the Indian Institute of Technology Bombay along with access to courses from top institutes and organizations such as IBM to name a few.</p>
        <p>Your job will be from home for now and we expect you to be completely open with us, tell us your doubts and issues but most importantly we expect timely dedicated work and results, just as you have been doing so far. This end of the bargain is non-negotiable. Your offer will be sealed once you sign the employee contract of the company. Your salary for the client projects undertaken in the past will be transferred to you in the next 1-2 weeks along with the induction.</p>  
        <p>We hope you will accept this offer. If you have any questions, please feel free to contact me or Ms. Faith Dias.</p>
        <br />
        <p style="color: red">Sincerely,</p>
        <img src="../img/sign.png" width="10%">
        <p style="color: red">Akhil Subramanian</p>
        <p style="color: red">Founder | Director</p>
        <p style="color: red">Digibarons - A We Gyan Ventures brand</p>
        <p><a style="color: red">Contact: </a><a style="text-decoration: underline;">akhil.subramanian.c2019@iitbombay.org</a></p>
        <br />
        <p style="color: red; text-align:center">Digibarons - A brand of We Gyan Ventures Private Limited</a></p>
        <p style="color: red; text-align:center">Dr Dadabhai Naoroji Rd, Mumbai, Maharashtra 400001, IN</p>
        <p style="color: red; text-align:center">Phone: +91 86697 79007</p>
